<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <record id="contact_action" model="ir.actions.act_window">
        <field name="name">Contacts</field>
        <field name="res_model">re.partner</field>
        <field name="res_model">re.agent</field>
        <field name="view_mode">kanban,tree,form</field>
    </record>

    <record id="action_partner_form" model="ir.actions.act_window">
        <field name="name">Partner</field>
        <field name="res_model">re.partner</field>
        <field name="view_mode">form</field>
    </record>

    <record id="action_agent_form" model="ir.actions.act_window">
        <field name="name">Agent</field>
        <field name="res_model">re.agent</field>
        <field name="view_mode">form</field>
    </record>

    <menuitem id="re_root_menu" name="Real Estate"/>
    <menuitem id="menu_contact_root" parent="re_root_menu" name="Contacts" sequence="1" action="contact_action"/>
    <menuitem id="re_menu_adds" parent="re_menu_root" name="Adds" action="action_re_estate" sequence="2"/>

</odoo>